{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="width: 80%; border-radius: 5px; border: 1px solid #696969;
background-color: #696969;
padding: 20px;
box-shadow:0px 0px 50px black;">
<fieldset class="form-group">
            <legend class="border-bottom mb-2" style="color:white; font-weight:bold !important;">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
    <div class="media">

        <!-- <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="90px" height="80px"> -->
        <div class="media-body">
            <h2 class="account-heading" style="color: orange; font-size: 40px; font-weight:bold;">{{ user.username }}</h2>
            <p class="text-secondary" style="color: lightgreen !important; font-size: 25px !important; font-weight:bold;">{{ user.email}}</p>
        </div>
    </div>
<!-- FORM HERE-->
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}

        <!-- <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div> -->
    </form>
</div>

<style>

</style>
{% endblock content %}